<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course tracker</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="app">
      <h2> course tracker</h2>
        <ul v-show="tracker.courses">
            <li
              class="uppercase"
              v-for="(p, i) in tracker.courses"
              v-bind:key="p.title">
              {{ i }} - {{ p.title }} - {{ p.time }}
            </li>
          </ul>
          <div>
            <span>Afegeix nou curs:</span>
            <input placeholder="Nom del curs" type="text" v-model="tracker.nouTitle" id="title">
            <input type="text" v-model="tracker.nouTime" id="time">
            
              <a v-on:click="addCourse" href="#"class="button">Nou curs!</a>
              <br>
              <br>
              <label id="totalTime">TotalTime</label>
              <input v-model="totalTime" id="totalTime">
              
            
          </div>
          
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>