#app {
    font-family: sans-serif;
    flex-direction: column;
    padding: 20px;
    min-height: 800px;
}  

.uppercase {
    text-transform: uppercase
  }
  
  a {
    color: red;
    text-decoration: none;
  }
  
  img {
    height: 64px;
    width: 64px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul li {
    margin-top: 5px;
  }
  
  button {
    padding: 10px;
  }